<launch>

	<param name="use_sim_time" value="true"/>
	<param name="tilt_laser_topic" value="scan_tilt"/>
	<param name="offset_between_ground_and_base_link" value="0.125"/>

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_front" args="1.06 0.0 0.27 0.0 0.0 0.0 /base_link /laser_front 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_tilt" args="1.06 0.05 0.54 0.0 0.32 0.0 /base_link /laser_tilt 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_back" args="-0.16 0.0 0.27 3.14 0.0 0.0 /base_link /laser_back 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_map_center" args="1.5 0.0 0.0 0.0 0.0 0.0 /base_link /map_center 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_read_map_center" args="5.0 0.0 0.0 0.0 0.0 0.0 /base_link /read_map_center 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /imu 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne" args="1.06 0.0 1.1 0.0 0.0 0.0 /base_link /velodyne 40" />

	<node pkg="sensor_utility" type="base_link_to_odom.py" name="base_link_to_odom"/>

	<node pkg="ultimate_seniorcar" type="seniorcar_odometry.py" name="odo" output="screen">
		<param name="steer_angle_offset" value="-2.0"/> <!-- 左に曲がりすぎでしょ→マイナスを大きく -->
		<param name="calculate_3dimention_odmetry" value="true" />
	</node>
	
	<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
		<param name="gain" value="0.01" />
		<param name="use_mag" value="false" />
	</node>
	
	<include file="$(find ultimate_seniorcar)/launch_xml/seniorcar_urdf.xml"/>

	<node pkg="urg_process" type="laser_point_to_elevation_map_ver2" name="laser_point_to_elevation_map" output="screen"/>

	<node pkg="urg_process" type="laser_scan_to_point_cloud" name="laser_to_point" output="screen"/>
	<!--<node pkg="urg_process" type="pointcloud2_to_pointcloud" name="pointcloud2_to_pointcloud" output="screen" />-->

	<node pkg="rosbag" type="play" name="play" args="/media/ishikawa/DATAPART1/HDD/bagfiles/1202_railroad_crosiing/exp4_1.bag --delay=1.0 --rate=0.2 --clock">
		<remap from="tf" to="tf_escape"/>
		<remap from="tf_static" to="tf_static_escape"/>
		<remap from="imu/data" to="imu_data_escape"/>
		<remap from="seniorcar_odometry" to="seniorcar_odometry_escape"/>
	</node>

	<node pkg="seniorcar_test" type="generate_seniorcar_comannd_to_avoid_predicted_accident.py" name="generate_seniorcar_comannd_to_avoid_predicted_accident" />
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/ishikawa/catkin_ws/src/ultimate_seniorcar/launch_xml/elevation_map_visualize.rviz"/>

</launch> 
