<launch>

	 <arg name="steer_motor_port"   value="/dev/ttyACM0" />
	 <arg name="canusb_port"		value="/dev/ttyUSB0" />
	 <arg name="imu_port"           value="/dev/ttyACM1"/>

    <include file="$(find ultimate_seniorcar)/launch_xml/archive_cmd_vel.xml">
        <arg name="steer_motor_port" value="$(arg steer_motor_port)"/>
    </include>
    
	<include file="$(find ultimate_seniorcar)/launch_xml/imu_and_pose_estimation.xml">
        <arg name="imu_port" value="$(arg imu_port)"/>
    </include>

    <node pkg="seniorcar_test" type="generate_cmd_vel.py" name="generate_cmd_vel" />
	
</launch>