<!-- -->
<launch>

  <param name="use_sim_time" value="true"/>
  <include file="$(find ultimate_seniorcar)/launch_xml/seniorcar_urdf.xml"/>

  <!-- send table.xml to param server -->
  <arg name="range" default="2.5" />
  <arg name="shift" default="0.25" />
  <arg name="use_openmp" default="false" />

  <!-- rosrun ndt_localizer ndt_mapping  -->
  <node pkg="ndt_localizer" type="queue_counter" name="queue_counter" output="log" />
  <node pkg="ndt_localizer" type="ndt_mapping" name="ndt_mapping" output="screen">
  	<param name="range" value="$(arg range)" />
    <param name="shift" value="$(arg shift)" />
    <param name="use_openmp" value="$(arg use_openmp)" />
    <remap from="/points_raw" to="/velodyne_points"/>
  </node>

  <!-- tf -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_front" args="1.06 0.0 0.27 0.0 0.0 0.0 /base_link /laser_front 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_tilt" args="1.06 0.05 0.53 0.0 0.55 0.0 /base_link /laser_tilt 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_back" args="-0.16 0.0 0.27 3.14 0.0 0.0 /base_link /laser_back 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_map_center" args="1.5 0.0 0.0 0.0 0.0 0.0 /base_link /map_center 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /imu 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne" args="1.06 0.0 1.0 0.0 0.0 0.0 /base_link /velodyne 40" />
  <!--<node pkg="sensor_utility" type="base_link_to_odom.py" name="base_link_to_odom" output="screen"/>-->

  <!-- play bagfile -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/ishikawa/catkin_ws/src/ultimate_seniorcar/launch_xml/ndt_map_visualize.rviz"/>
  
</launch>
