<launch>

	<param name="use_sim_time" value="true"/>
	<param name="tilt_laser_topic" value="scan_tilt"/>
	<param name="offset_between_ground_and_base_link" value="0.125"/>

	<include file="$(find ultimate_seniorcar)/launch_xml/seniorcar_urdf.xml"/>

	<node pkg="rosbag" type="play" name="play" args="/media/ishikawa/DATAPART1/HDD/bagfiles/kashiwa_firm_road/0322_exp07.bag --delay=1 --clock"/>
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/ishikawa/catkin_ws/src/ultimate_seniorcar/launch_xml/map_and_seniorcar_visualize.rviz"/>

	<node pkg="urg_process" type="laser_scan_to_point_cloud" name="laser_to_point" />

</launch> 