<launch>

	 <arg name="steer_motor_port"   value="/dev/ttyACM0" />
	 <arg name="canusb_port" value="/dev/ttyUSB0" />

	<!-- 各種センサへの接続 -->
	<param name="canusb_port" value="$(arg canusb_port)"/>
    <!--<node pkg="ultimate_seniorcar" type="canusb_connecter.py" name="can_usbconnecter"/>-->
    
    <param name="steer_motor_port" value="$(arg steer_motor_port)" />
	<node pkg="ultimate_seniorcar" type="steer_motor_serial.py" name="steer_motor" output="screen"/>

	<node pkg="seniorcar_test" type="generate_seniorcar_command.py" name="generate" output="screen"/>
	<node pkg="ultimate_seniorcar" type="target_steer_angle_to_motor_devision.py" name="target_steer_angle_to_motor_devision" output="screen"/>

</launch>