<launch>

	<arg name="description" default="$(find seniorcar_gazebo_simulator)/urdf/base.urdf.xacro" />

	<param name="use_sim_time" value="true" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(arg description)'" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find seniorcar_gazebo_simulator)/worlds/kaiyoto_uneven_road.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -z -0.4
          -model robot_description"
    respawn="false" output="screen" />

    <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>


  <include file="$(find grizzly_motion)/launch/motion.launch">
    <arg name="simulate" value="true" />
  </include>

  <include file="$(find grizzly_navigation)/launch/localization.launch"/>

  <node pkg="keyboard" type="keyboard" name="keyboard" />
  <node pkg="sensor_utility" type="keyboard_to_cmd_vel.py" name="keyboard_to_cmd_vel" />

</launch>